.ltv_edit_subcategory {
    cursor: pointer;
}
.ltv_add_subcategory {
    cursor: pointer;
}
.ltv_add_item {
    cursor: pointer;
}
.ltv_add_series {
    cursor: pointer;
}
.card_series .card-header {
background-color: #cccccc;
}
.card_items .card-header {
background-color: #d9d9d9;
}
